html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 2fr auto;
}

header {
    grid-row-end: 1;
}

.footer{
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
}

.listedCard {
    width: 18rem;
    margin-top: 5px;
}