@model EventiaWebapp.Models.Event

@{
    ViewData["Title"] = "Event | Add Event";
    //Model.Date=DateTime.Parse("dd-MM-yyyyTHH:mm");
   // asp-format="{dd-MM-yyyyTHH:mm}"  aria-valuemin="31/12/2020 00:00" aria-valuemax="31/12/2030 00:00" aria-valuenow="@DateTime.Now" type="datetime-local"
}
<br/>
<h1>Add Event</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptiton" class="control-label"></label>
                <input asp-for="Descriptiton" class="form-control" />
                <span asp-validation-for="Descriptiton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsAvailable" class="control-label"></label>
                <input asp-for="SeatsAvailable" class="form-control" />
                <span asp-validation-for="SeatsAvailable" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" /> |   <a asp-action="OrganizersEvents" class="text-black">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
