@model Database
<div>
<br />
<dl class="row">
    <form asp-action="DbReset">
        <p>
           You are trying to reset database!
        </p>
        <input type="submit" value="Reset" class="btn btn-danger" /> | <a asp-action="Index" class="text-black">Back to List</a>
    </form>
</dl>
</div>